{% extends "base_footer1.html" %}

{% block home %}
<div class="jumbotron">
	<div class="container">
		<img src="/static/img/photo.png" alt="photo" width="70%" height="100%" align="left">
		<h1>Welcome to your visited!</h1>
		<p align="right">This is a amazing zone. That name is "NoteZones". When you open your brower, you always search anything. Even thought you focused to study in your goal, sometimes it a glimpse of imformation in the future. Now, to "NoteZones" that help you collection.</p>
		<div class="learn">
			<p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/guide/" role="button">Learn more &raquo;</a></p>
		</div>
		<hr/>
	</div>
</div>
{% endblock %}